@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@800&display=swap');

$darkgray: #b5b5b5;
$black: #585d5f;
$blue: #007bff;

h1 {
    text-align: center;
    color: $blue;
    font-size: 3.15rem;
    margin: 0;
}

.display-font {
    font-family: 'Kanit', sans-serif;
}

.light-text {
    color: $black;
}

.small-text {
    font-size: 10px;
    margin: 0;
}

.main-display {
    background-color: rgb(255, 255, 255);
    width: 480px;
    margin: 12vh auto;
    border: 3px solid $darkgray;
    border-radius: 18px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.08);
}