@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@800&display=swap');

$darkgray: #b5b5b5;
$black: #585d5f;
$blue: #007bff;

h1 {
    text-align: center;
    color: $blue;
    font-size: 3.15rem;
    margin: 0;
}

.display-font {
    font-family: 'Kanit', sans-serif;
}

.light-text {
    color: $black;
}

.img-border {
    border: 1px solid $darkgray;
    border-radius: 6px;
}

.small-text {
    font-size: 10px;
    margin: 0;
}

.testborder {
     border: 1px solid red;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2.25rem;
}

.main-display {
    background-color: rgb(255, 255, 255);
    width: 500px;
    margin: 25vh auto;
    padding: 1rem 2.2rem;
    border: 3px solid $black;
    border-radius: 18px;
    box-shadow: 6px 6px 18px rgba(0,0,0,0.4);
}